body {
	padding-bottom: 10px;
}

#navbar {
	background-color: #8C8383;
}

/* Needs to break out of its borders and create a rectangle that overlaps the dropdown button
#text {
	background-color: #000000;
	color: #fff;
	border: none;
}
*/

#background-image {
	background-image: url(../images/work-background.jpg);
}

#image-1 {
	background-image: url(../images/samsung-background.jpg);
}

#image-2 {
	background-image: url(../images/samsung-background.jpg);
}

